/**
 * style for pixelate
 */

.pixelate-parent {
  position: relative;
}

.pixelate-src {
  position: absolute;
  top: 0;
  left: 0;
}

.pixelate-selector {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
}

.pixelate-container {
  position: relative;
  clear: both;
  height: 350px;
}